/* Sets all the text color to red! */
.workspace-leaf-content[data-type='task-management'] .view-content {
  padding: 0;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
